@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-top: 30px;
  height: 20vh;
}

input {
  height: 30px;
  width: 400px;
  margin: 5px;
  padding: 0px 15px;
}

#submit_button {
  margin-top: 10px;
  padding: 5px 20px;
  background-color: whitesmoke;
  color: grey;
  border: 2px solid grey;
  border-radius: 7px;
}

#submit_button:hover {
  background-color: grey;
  color: white;
}

.results {
  display: flex;
  width: 100vw;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.sun_time {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 400px;
  align-items: center;
  border-radius: 10px;
}

.sun_image {
  width: 40vw;
  max-width: 350px;
  padding-top: 25px;
  margin-bottom: 40px;
}

.time {
  font-size: min(10vw, 60pt);
  margin: 0;
}

.time_description {
  font-size: min(4vw, 18pt);
  margin: 0;
  padding: 1px 50px;
}

#footer {
  position: fixed;
  bottom: 0px;
  left: 30pt;
  font-size: small;
}
