@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}

#inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  height: 20vh;
}

input {
  height: 30px;
  width: 400px;
  margin: 7px;
  padding: 0px 15px;
}

.results {
  display: flex;
  width: 100vw;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.sun_time {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  width: 400px;
  align-items: center;
  background-color: rgb(229, 228, 229);
  border-radius: 10px;
}

.sun_image {
  width: 30vw;
  max-width: 200px;
  padding-top: 25px;
}

.time {
  font-size: min(10vw, 60pt);
  margin: 0;
}

.time_description {
  font-size: min(4vw, 18pt);
  margin: 0;
  padding: 1px 50px;
}

#footer {
  position: fixed;
  bottom: 0px;
  left: 30pt;
}
