@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-top: 30px;
  height: 20vh;
}

input {
  height: 30px;
  width: 400px;
  margin: 5px;
  padding: 0px 15px;
  border: 2px solid rgb(201, 196, 196);
  border-radius: 3px;
  font-size: medium;
}

#submit_button {
  margin-top: 10px;
  padding: 5px 20px;
  background-color: grey;
  color: white;
  border: 2px solid grey;
  border-radius: 5px;
  font-size: medium;
}

#submit_button:hover {
  background-color: rgb(106, 103, 103);
  border: 2px solid rgb(106, 103, 103);
}

#sun_remaining {
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: min(6vw, 28pt);
}

mark {
  background-color: rgb(248, 232, 161);
}

.results {
  display: flex;
  margin-top: 30px;
  width: 100vw;
  height: 40vh;
  justify-content: center;
  align-items: center;
}

.sun_time {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 400px;
  align-items: center;
  border-radius: 10px;
}

.sun_image {
  width: 40vw;
  max-width: 350px;
  padding-top: 25px;
  margin-bottom: 40px;
}

.time {
  font-size: min(10vw, 60pt);
  margin: 0;
}

.time_description {
  font-size: min(4vw, 18pt);
  margin: 0;
  padding: 1px 50px;
}

#footer {
  position: fixed;
  bottom: 0px;
  left: 30pt;
  font-size: small;
}
